In [171]:
import numpy as np
import pandas as pd

#md_addr = pd.read_csv("/home/eckson888/projekcik/data/MD_raw_addr2.csv",encoding='cp1250', sep=";")
md_addr = pd.read_csv("/home/eckson888/projekcik/data/KP_raw.csv",encoding='cp1250', sep=",")
drop_columns=["city_id","currency_code","timezone","flow","request_timestamp_utc","begintrip_timestamp_utc","dropoff_timestamp_utc",
              "promotion_usd","credits_usd","driver_upfront_fare_usd","original_fare_usd","base_fare_usd","surge_fare_usd","minimum_fare_roundup_usd",
              "per_mile_fare_usd","per_minute_fare_usd","cancellation_fee_usd","rounding_down_amount_usd","service_fee_usd","toll_amount_usd",
              "booking_fee_usd","earnings_boost_usd","wait_time_fare_usd","long_distance_surcharge_usd","vehicle_trip_number"]

for column in drop_columns:
    md_addr.drop(column, axis='columns', inplace=True)
    
md_addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5668 entries, 0 to 5667
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_type_name              5668 non-null   object
 1   global_product_name            5668 non-null   object
 2   request_timestamp_local        5668 non-null   object
 3   begintrip_timestamp_local      5668 non-null   object
 4   dropoff_timestamp_local        5668 non-null   object
 5   eta                            5668 non-null   int64
 6   surge_multiplier               5668 non-null   float64
 7   is_surged                      5668 non-null   bool
 8   has_destination                5668 non-null   bool
 9   is_pool_matched                5668 non-null   bool
 10  trip_distance_miles            5668 non-null   float64
 11  trip_duration_seconds          5668 non-null   object
 12  status                         5668 non-null   object
 13  is_completed                   5668 non-null   bool
 14  is_flat_rate                   5668 non-null   bool
 15  is_cash_trip                   5668 non-null   bool
 16  promotion_local                5668 non-null   object
 17  credits_local                  5668 non-null   object
 18  has_driver_upfront_fare        5668 non-null   bool
 19  driver_upfront_fare_local      5668 non-null   object
 20  original_fare_local            5668 non-null   object
 21  base_fare_local                5668 non-null   object
 22  surge_fare_local               5668 non-null   object
 23  minimum_fare_roundup_local     5668 non-null   object
 24  per_mile_fare_local            5668 non-null   object
 25  per_minute_fare_local          5668 non-null   object
 26  cancellation_fee_local         5668 non-null   float64
 27  rounding_down_amount_local     5668 non-null   object
 28  service_fee_local              5668 non-null   object
 29  toll_amount_local              5668 non-null   object
 30  booking_fee_local              5668 non-null   object
 31  earnings_boost_local           5668 non-null   object
 32  fare_distance_miles            5668 non-null   object
 33  fare_duration_minutes          5668 non-null   object
 34  wait_time_fare_local           5668 non-null   object
 35  service_fee                    5668 non-null   object
 36  driver_cancellation_reason     5668 non-null   object
 37  is_multidestination            5668 non-null   bool
 38  driver_surge_multiplier        5668 non-null   float64
 39  long_distance_surcharge_local  5668 non-null   object
 40  guaranteed_surge_multiplier    5668 non-null   object
 41  ufp_type                       5668 non-null   object
 42  cancellation_type              5668 non-null   object
 43  is_directed_dispatch_trip      5668 non-null   bool
 44  wait_duration_minutes          5668 non-null   object
 45  driver_trip_number             5668 non-null   object
 46  concierge_source_type          5668 non-null   object
 47  is_scheduled_trip              5668 non-null   bool
 48  is_airport_trip                5668 non-null   bool
 49  license_plate                  5668 non-null   object
dtypes: bool(11), float64(4), int64(1), object(34)
memory usage: 1.7+ MB

In [172]:
md_cancelled_trips = pd.DataFrame(columns=md_addr.columns)
cancelled_rows = md_addr[md_addr['is_completed'].astype(str) == 'False']
md_cancelled_trips = cancelled_rows.copy()
md_addr = md_addr[md_addr['is_completed'] != False]
 
md_cancelled_trips.head()

,product_type_name,global_product_name,request_timestamp_local,begintrip_timestamp_local,dropoff_timestamp_local,eta,surge_multiplier,is_surged,has_destination,is_pool_matched,...,guaranteed_surge_multiplier,ufp_type,cancellation_type,is_directed_dispatch_trip,wait_duration_minutes,driver_trip_number,concierge_source_type,is_scheduled_trip,is_airport_trip,license_plate
6,UberX,UberX,2022-07-22 20:27:05.000,\N,\N,380,1.0,False,True,False,...,\N,ufp_honored,\N,False,\N,\N,\N,False,False,LU649GP
7,UberX,UberX,2022-07-22 20:39:20.000,\N,\N,181,1.0,False,True,False,...,\N,ufp_honored,\N,False,\N,\N,\N,False,False,LU649GP
35,UberX,UberX,2022-07-24 03:27:16.000,\N,\N,30,1.0,False,True,False,...,\N,ufp_honored,\N,False,\N,\N,\N,False,False,LU649GP
72,UberX,UberX,2022-07-27 04:04:14.000,\N,\N,736,1.0,False,True,False,...,\N,ufp_honored,\N,False,\N,\N,\N,False,False,LU649GP
96,Uber Pet,UberX,2022-07-28 01:22:08.000,\N,\N,355,1.0,False,True,False,...,\N,ufp_honored,\N,False,\N,\N,\N,False,False,LU649GP

In [173]:
#time feature engineering

md_addr.rename(columns={'eta': 'driver_pickup_eta'}, inplace=True)
    
new_time_features=["request_unix_time","begintrip_unix_time","dropoff_unix_time",
                   "trip_day_of_year","trip_day_of_week","trip_month_of_year","trip_hour_of_day","actual_wait_time"]

for c in new_time_features:
    md_addr[c]=0

md_addr['request_unix_time'] = pd.to_datetime(md_addr['request_timestamp_local']).astype('int64') // 10**9
md_addr['begintrip_unix_time'] = pd.to_datetime(md_addr['begintrip_timestamp_local']).astype('int64') // 10**9
md_addr['dropoff_unix_time'] = pd.to_datetime(md_addr['dropoff_timestamp_local']).astype('int64') // 10**9
md_addr['trip_day_of_year'] = pd.to_datetime(md_addr['begintrip_timestamp_local']).dt.day_of_year
md_addr['trip_day_of_week'] = pd.to_datetime(md_addr['begintrip_timestamp_local']).dt.day_of_week
md_addr['trip_month_of_year'] = pd.to_datetime(md_addr['begintrip_timestamp_local']).dt.month
md_addr['trip_hour_of_day'] = pd.to_datetime(md_addr['begintrip_timestamp_local']).dt.hour    
md_addr['actual_wait_time'] = (pd.to_datetime(md_addr['begintrip_timestamp_local']) - pd.to_datetime(md_addr['request_timestamp_local'])).dt.total_seconds()

md_addr.head()

,product_type_name,global_product_name,request_timestamp_local,begintrip_timestamp_local,dropoff_timestamp_local,driver_pickup_eta,surge_multiplier,is_surged,has_destination,is_pool_matched,...,is_airport_trip,license_plate,request_unix_time,begintrip_unix_time,dropoff_unix_time,trip_day_of_year,trip_day_of_week,trip_month_of_year,trip_hour_of_day,actual_wait_time
0,UberX,UberX,2022-07-22 18:06:28.000,2022-07-22 18:10:13.000,2022-07-22 18:26:09.000,144,1.0,False,True,False,...,False,LU649GP,1658513188,1658513413,1658514369,203,4,7,18,225.0
1,UberX,UberX,2022-07-22 18:33:40.000,2022-07-22 18:39:00.000,2022-07-22 18:48:37.000,241,1.0,False,True,False,...,False,LU649GP,1658514820,1658515140,1658515717,203,4,7,18,320.0
2,UberX,UberX,2022-07-22 18:50:22.000,2022-07-22 18:53:03.000,2022-07-22 19:02:11.000,100,1.0,False,True,False,...,False,LU649GP,1658515822,1658515983,1658516531,203,4,7,18,161.0
3,UberX,UberX,2022-07-22 19:16:42.000,2022-07-22 19:21:21.000,2022-07-22 19:26:01.000,225,1.0,False,True,False,...,False,LU649GP,1658517402,1658517681,1658517961,203,4,7,19,279.0
4,UberX,UberX,2022-07-22 19:30:58.000,2022-07-22 19:37:03.000,2022-07-22 19:43:58.000,288,1.0,False,True,False,...,False,LU649GP,1658518258,1658518623,1658519038,203,4,7,19,365.0

In [174]:
# data cleaning/dimension reduction
md_addr.drop("status", axis='columns', inplace=True)
md_addr.drop("is_completed", axis='columns', inplace=True)
md_addr.drop("global_product_name", axis='columns', inplace=True)
md_addr.drop("has_destination", axis='columns', inplace=True)
md_addr.drop("is_pool_matched", axis='columns', inplace=True)
md_addr.drop("is_flat_rate", axis='columns', inplace=True)
md_addr.drop("rounding_down_amount_local", axis='columns', inplace=True)
md_addr.drop("booking_fee_local", axis='columns', inplace=True)
md_addr.drop("toll_amount_local", axis='columns', inplace=True)
md_addr.drop("earnings_boost_local", axis='columns', inplace=True)
md_addr.drop("driver_cancellation_reason", axis='columns', inplace=True)
md_addr.drop("guaranteed_surge_multiplier", axis='columns', inplace=True)
md_addr.drop("cancellation_type", axis='columns', inplace=True)
md_addr.drop("is_directed_dispatch_trip", axis='columns', inplace=True)

md_addr['promotion_local'] = md_addr['promotion_local'].replace({'\\N': 0})
md_addr['service_fee_local'] = md_addr['service_fee_local'].replace({'\\N': 0})
md_addr['wait_time_fare_local'] = md_addr['wait_time_fare_local'].replace({'\\N': 0})
md_addr['long_distance_surcharge_local'] = md_addr['long_distance_surcharge_local'].replace({'\\N': 0})
md_addr['wait_duration_minutes'] = md_addr['wait_duration_minutes'].replace({'\\N': 0})
md_addr['minimum_fare_roundup_local'] = md_addr['minimum_fare_roundup_local'].replace({'\\N': 0})
md_addr['concierge_source_type'] = md_addr['concierge_source_type'].replace({'\\N': 'none'})
md_addr['credits_local'] = md_addr['credits_local'].replace({'\\N': 0})

In [175]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(md_addr)

,product_type_name,request_timestamp_local,begintrip_timestamp_local,dropoff_timestamp_local,driver_pickup_eta,surge_multiplier,is_surged,trip_distance_miles,trip_duration_seconds,is_cash_trip,promotion_local,credits_local,has_driver_upfront_fare,driver_upfront_fare_local,original_fare_local,base_fare_local,surge_fare_local,minimum_fare_roundup_local,per_mile_fare_local,per_minute_fare_local,cancellation_fee_local,service_fee_local,fare_distance_miles,fare_duration_minutes,wait_time_fare_local,service_fee,is_multidestination,driver_surge_multiplier,long_distance_surcharge_local,ufp_type,wait_duration_minutes,driver_trip_number,concierge_source_type,is_scheduled_trip,is_airport_trip,license_plate,request_unix_time,begintrip_unix_time,dropoff_unix_time,trip_day_of_year,trip_day_of_week,trip_month_of_year,trip_hour_of_day,actual_wait_time
0,UberX,2022-07-22 18:06:28.000,2022-07-22 18:10:13.000,2022-07-22 18:26:09.000,144,1.0,False,6.169521,956,False,-2.28,0,False,21.08,20.49,4.4,0,0,2.6554176,0.17,0.0,0,6.17,15.933333333333334,0,0.19,False,1.0,0,ufp_honored,0,725,none,False,False,LU649GP,1658513188,1658513413,1658514369,203,4,7,18,225.0
1,UberX,2022-07-22 18:33:40.000,2022-07-22 18:39:00.000,2022-07-22 18:48:37.000,241,1.0,False,2.552311,538,True,-1.28,0,False,11.86,11.53,4.4,0,0,2.6554176,0.17,0.0,0,2.55,8.966666666666667,0,0.19,False,1.0,0,ufp_honored,0,726,none,False,False,LU649GP,1658514820,1658515140,1658515717,203,4,7,18,320.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,Comfort,2025-04-06 02:57:01.000,2025-04-06 02:58:48.000,2025-04-06 03:06:08.000,115,1.0,False,3.938313,440,False,-16.61,0,True,20.76,20.76,7.09,0,0,2.91291264,0.27,0.0,-4.15,3.94,7.33333333,0,0.2,False,1.0,0,ufp_honored,0,6165,none,False,False,LU630TE,1743908221,1743908328,1743908768,96,6,4,2,107.0
5666,UberX,2025-04-07 08:12:40.000,2025-04-07 08:16:13.000,2025-04-07 08:23:30.000,195,1.0,False,1.832946,437,False,-2.6,0,True,13,13,5.45,0,0,2.23698816,0.21,0.0,-2.6,1.83,7.28333333,0,0.2,False,1.0,0,ufp_honored,0,6166,none,False,False,LU630TE,1744013560,1744013773,1744014210,97,0,4,8,213.0

In [176]:
for c in md_addr.columns:
    print(f"\ncolumn: {c}")
    print(md_addr[c].value_counts())

column: product_type_name
product_type_name
UberX             3675
Green             1598
Uber Pet            76
Comfort             59
UberX Priority      34
Name: count, dtype: int64

column: request_timestamp_local
request_timestamp_local
2025-04-07 08:12:40.000    1
2022-07-22 18:06:28.000    1
2025-04-03 14:55:18.000    1
2025-04-03 14:41:49.000    1
2025-04-03 14:17:24.000    1
                          ..
2022-07-22 21:15:01.000    1
2022-07-22 19:53:54.000    1
2022-07-22 19:30:58.000    1
2022-07-22 19:16:42.000    1
2022-07-22 18:50:22.000    1
Name: count, Length: 5442, dtype: int64

column: begintrip_timestamp_local
begintrip_timestamp_local
2025-04-07 08:16:13.000    1
2022-07-22 18:10:13.000    1
2025-04-03 15:01:36.000    1
2025-04-03 14:44:51.000    1
2025-04-03 14:20:19.000    1
                          ..
2022-07-22 21:21:59.000    1
2022-07-22 19:58:50.000    1
2022-07-22 19:37:03.000    1
2022-07-22 19:21:21.000    1
2022-07-22 18:53:03.000    1
Name: count, Length: 5442, dtype: int64

column: dropoff_timestamp_local
dropoff_timestamp_local
2025-04-07 08:23:30.000    1
2022-07-22 18:26:09.000    1
2025-04-03 15:15:56.000    1
2025-04-03 14:53:28.000    1
2025-04-03 14:27:15.000    1
                          ..
2022-07-22 21:29:41.000    1
2022-07-22 20:11:28.000    1
2022-07-22 19:43:58.000    1
2022-07-22 19:26:01.000    1
2022-07-22 19:02:11.000    1
Name: count, Length: 5442, dtype: int64

column: driver_pickup_eta
driver_pickup_eta
121     31
162     30
148     27
131     27
112     26
        ..
687      1
887      1
639      1
449      1
1094     1
Name: count, Length: 676, dtype: int64

column: surge_multiplier
surge_multiplier
1.000000    4277
1.100000     127
1.200000      88
1.300000      64
1.600000      57
            ...
1.218671       1
1.812500       1
1.914688       1
1.102930       1
1.667199       1
Name: count, Length: 516, dtype: int64

column: is_surged
is_surged
False    4277
True     1165
Name: count, dtype: int64

column: trip_distance_miles
trip_distance_miles
1.832946    1
6.169521    1
3.901299    1
2.042188    1
1.287881    1
           ..
2.462234    1
7.979853    1
2.116544    1
1.619215    1
2.110576    1
Name: count, Length: 5442, dtype: int64

column: trip_duration_seconds
trip_duration_seconds
344     17
431     15
401     14
303     14
295     13
        ..
1264     1
1221     1
1826     1
1061     1
112      1
Name: count, Length: 1287, dtype: int64

column: is_cash_trip
is_cash_trip
False    4076
True     1366
Name: count, dtype: int64

column: promotion_local
promotion_local
0         1858
-11        558
-6.5       399
-3.9       141
-7         128
          ...
-17.09       1
-8.41        1
-10.81       1
-3.92        1
-15.23       1
Name: count, Length: 901, dtype: int64

column: credits_local
credits_local
0        5439
11.01       1
5           1
8.45        1
Name: count, dtype: int64

column: has_driver_upfront_fare
has_driver_upfront_fare
True     3456
False    1986
Name: count, dtype: int64

column: driver_upfront_fare_local
driver_upfront_fare_local
13       663
12.04    348
8.33     176
16.9      42
19.5      19
        ...
23.5       1
29.57      1
22.79      1
12.46      1
23.94      1
Name: count, Length: 2086, dtype: int64

column: original_fare_local
original_fare_local
13       922
10.62     76
16.9      44
9         42
9.72      21
        ...
83.94      1
12.27      1
10.35      1
5.21       1
11.53      1
Name: count, Length: 2131, dtype: int64

column: base_fare_local
base_fare_local
5.89    3347
4.4     1951
5.45      84
7.65      38
7.09      21
0          1
Name: count, dtype: int64

column: surge_fare_local
surge_fare_local
0        4277
1.3        29
6.5        17
5.2        16
9.1        16
         ...
12.16       1
8.11        1
10.42       1
18.79       1
17.12       1
Name: count, Length: 728, dtype: int64

column: minimum_fare_roundup_local
minimum_fare_roundup_local
0       3718
0       1443
0.06       5
0.58       5
0.19       4
        ...
3.73       1
0.31       1
0.27       1
1.4        1
2.34       1
Name: count, Length: 190, dtype: int64

column: per_mile_fare_local
per_mile_fare_local
2.414016      3347
2.6554176     1746
2.655418       206
2.23698816      83
3.1382208       38
2.91291264      21
2.236988         1
Name: count, dtype: int64

column: per_minute_fare_local
per_minute_fare_local
0.23    3347
0.17    1952
0.21      84
0.3       38
0.27      21
Name: count, dtype: int64

column: cancellation_fee_local
cancellation_fee_local
0.0    5442
Name: count, dtype: int64

column: service_fee_local
service_fee_local
0        2167
-2.6      383
-0.65     276
-2.34     233
-0.91      30
         ...
-7.76       1
-6.83       1
-7.94       1
-4.74       1
-9.22       1
Name: count, Length: 640, dtype: int64

column: fare_distance_miles
fare_distance_miles
2.03     26
1.58     24
1.62     22
1.95     20
1.86     20
         ..
7.77      1
8.18      1
8.55      1
11.03     1
9.76      1
Name: count, Length: 1267, dtype: int64

column: fare_duration_minutes
fare_duration_minutes
7.18333333            15
5.73333333            14
5.05                  14
6.68333333            13
4.91666666            13
                      ..
4.083333333333333      1
22.03333333            1
24.11666666            1
12.116666666666667     1
6.916666666666667      1
Name: count, Length: 1562, dtype: int64

column: wait_time_fare_local
wait_time_fare_local
0       3393
0       1473
0.02      33
0.01      30
0.04      29
        ...
0.68       1
0.75       1
0.6        1
0.58       1
0.66       1
Name: count, Length: 76, dtype: int64

column: service_fee
service_fee
0.19    1890
0.05    1331
0.18    1086
0.2     1058
0.17      75
0.25       2
Name: count, dtype: int64

column: is_multidestination
is_multidestination
False    5263
True      179
Name: count, dtype: int64

column: driver_surge_multiplier
driver_surge_multiplier
1.0    4277
1.1     218
1.2     145
1.3     119
1.4      95
1.6      95
1.7      89
1.5      87
1.8      81
1.9      41
2.0      38
2.1      37
2.2      31
2.3      22
2.5      18
2.4      17
2.7      10
2.6       7
2.8       5
3.1       2
3.7       2
2.9       2
4.1       1
3.5       1
3.0       1
3.4       1
Name: count, dtype: int64

column: long_distance_surcharge_local
long_distance_surcharge_local
0        3525
0        1651
5.15        3
3.28        3
0.03        3
         ...
18.22       1
36.4        1
19.28       1
8.14        1
12.87       1
Name: count, Length: 206, dtype: int64

column: ufp_type
ufp_type
ufp_honored        5440
ufp_not_honored       2
Name: count, dtype: int64

column: wait_duration_minutes
wait_duration_minutes
0       3145
0       1721
0.1       14
0.05      11
0.3       10
        ...
4.42       1
2.72       1
1.58       1
1.72       1
2.67       1
Name: count, Length: 248, dtype: int64

column: driver_trip_number
driver_trip_number
6166    1
725     1
6150    1
6149    1
6148    1
       ..
731     1
730     1
729     1
728     1
727     1
Name: count, Length: 5442, dtype: int64

column: concierge_source_type
concierge_source_type
none      5369
bounce      73
Name: count, dtype: int64

column: is_scheduled_trip
is_scheduled_trip
False    5439
True        3
Name: count, dtype: int64

column: is_airport_trip
is_airport_trip
False    5440
True        2
Name: count, dtype: int64

column: license_plate
license_plate
LU179NR    3146
LU649GP    1984
LU630TE     310
\N            2
Name: count, dtype: int64

column: request_unix_time
request_unix_time
1744013560    1
1658513188    1
1743692118    1
1743691309    1
1743689844    1
             ..
1658524501    1
1658519634    1
1658518258    1
1658517402    1
1658515822    1
Name: count, Length: 5442, dtype: int64

column: begintrip_unix_time
begintrip_unix_time
1744013773    1
1658513413    1
1743692496    1
1743691491    1
1743690019    1
             ..
1658524919    1
1658519930    1
1658518623    1
1658517681    1
1658515983    1
Name: count, Length: 5442, dtype: int64

column: dropoff_unix_time
dropoff_unix_time
1744014210    1
1658514369    1
1743693356    1
1743692008    1
1743690435    1
             ..
1658525381    1
1658520688    1
1658519038    1
1658517961    1
1658516531    1
Name: count, Length: 5442, dtype: int64

column: trip_day_of_year
trip_day_of_year
302    65
155    59
209    55
330    54
240    52
       ..
266     1
316     1
314     1
337     1
44      1
Name: count, Length: 310, dtype: int64

column: trip_day_of_week
trip_day_of_week
5    1051
4     942
3     767
2     739
6     728
0     613
1     602
Name: count, dtype: int64

column: trip_month_of_year
trip_month_of_year
10    789
8     765
3     699
5     632
6     511
4     481
7     455
11    322
9     307
12    187
1     170
2     124
Name: count, dtype: int64

column: trip_hour_of_day
trip_hour_of_day
19    444
18    433
17    412
0     386
23    375
20    374
16    324
1     324
2     311
21    311
22    249
3     234
15    225
14    174
13    134
4     133
9     112
8     109
12    104
7      89
10     85
11     76
6      12
5      12
Name: count, dtype: int64

column: actual_wait_time
actual_wait_time
214.0     25
311.0     25
297.0     23
173.0     23
252.0     22
          ..
535.0      1
981.0      1
1409.0     1
831.0      1
1465.0     1
Name: count, Length: 814, dtype: int64